<template name='addElements'>
  <div id='openElementButtonContainer' class='item'>
    <div class='item-action-container'>
      <span class='item-action-text'>Add an item</span>
      <i class='fa fa-plus item-action-icon'></i>
    </div>
  </div>

  <div id='elementButtonContainer' class='buttons-table'>
    <div class='buttons-row'>
      <div data-action='addElement' class='buttons-cell add-item-text' data-element-type='text'></div>
      <div id='openDateTimeElementsContainer' class='buttons-cell add-item-date'></div>
      <div data-action='addElement' class='buttons-cell add-item-map' data-element-type='map'></div>
    </div>

    <div class='buttons-row'>
      <div data-action='addElement' class='buttons-cell add-item-link' data-element-type='link'></div>
      <div data-action='addElement' class='buttons-cell add-item-photo' data-element-type='photo'></div>
      <div data-action='addElement' class='buttons-cell add-item-divider' data-element-type='divider'></div>
    </div>
  </div>

  <div id='dateTimeElementsContainer' class='buttons-table'>
    <div class='buttons-row'>
      <div data-action='addElement' class='buttons-cell add-item-datetime-local' data-element-type='datetime-local'></div>
      <div data-action='addElement' class='buttons-cell add-item-date' data-element-type='date'></div>
      <div data-action='addElement' class='buttons-cell add-item-time' data-element-type='time'></div>
    </div>
  </div>
</template>
