.github-wrapper {
  text-align: center;
  margin-bottom: 15px;

  .tooltip.github-link:after {
    top: 125%;
  }
  .tooltip.github-link:hover:after {
    top: 115%;
  }

  @media screen and (min-width: 640px) {
    margin-bottom: 0;
    position: fixed;
    bottom: 10px;
    left: 10px;

    .tooltip.github-link:after {
      -webkit-transform: translateY(-45%);
      -ms-transform: translateY(-45%);
      -o-transform: translateY(-45%);
      transform: translateY(-45%);
      margin-top: 2px;
      left: 165%;
      top: 40%;
    }
    .tooltip.github-link:hover:after {
      left: 145%;
      top: 40%;
    }
  }

  .github-link {
    &:before {
      @include icon-font-and-colour;
      font-size: 1.6em;
      content: '\f09b';
    }

    &:hover {
      &:before {
        color: $icon-hover-colour;
      }
    }
  }
}

