.item {
  @include card($item-colour, $item-border-colour);
  cursor: default;
  margin: 8px 0;

  &:hover {
    background-color: $item-hover-colour;

    .remove-item {
      display: block;
    }
  }
  .item-content-container,
  .item-action-container {
    display: table;
    table-layout: fixed;
    border-spacing: 16px;
    width: 100%;
  }
  .item-action-container {
    cursor: pointer;
    &:hover {
      background-color: $item-hover-colour;

      .item-action-text, .item-action-icon {
        color: $icon-hover-colour;
      }
    }
  }
  .remove-item, .handle, .item-action-icon {
    color: $icon-colour;
    width: 12px;
  }
  .remove-item {
    display: none;
    position: absolute;
    left: -6px;
    top: -8px;
    cursor: pointer;
  }
  .handle, .item-action-icon {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
  }
  .handle {
    padding-right: 3px;
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
  }
}
.item-placeholder {
  background-color: $item-placeholder-colour;
  border-radius: 3px;
  border: 4px dashed $item-placeholder-border-colour;
  margin: -2px 0;
}
.editable {
  cursor: text;
}
.title-entry,
.description-entry,
.item-entry {
  @include reset-input-type;
}
.item-entry {
  float: left;
}
.item-photo,
.item-map {
  max-width: 100%;
  text-align: center;
}
.item-divider {
  background-color: transparent;
  height: 32px;
  border: none;

  &:hover {
    background-color: transparent;

    .handle {
      display: block;
    }
  }
  .item-content-container:before {
    content: '';
    display: block;
    border-top: 1px solid $item-border-colour;
  }
  .remove-item,
  .handle {
    top: 8px;
  }
  .remove-item {
    left: 16px;
  }
  .handle {
    display: none;
    position: absolute;
    right: 16px;
  }
}
