.item {
  @include card($item-colour, $item-border-colour);
  cursor: default;
  margin: 8px 0;

  &:hover {
    background-color: $item-hover-colour;

    .remove-item {
      display: block;
    }
  }
  .item-content-container,
  .item-action-container {
    display: table;
    table-layout: fixed;
    border-spacing: 16px;
    width: 100%;
  }
  .item-content-container {
    word-wrap: break-word;
  }
  .item-action-container {
    cursor: pointer;
    &:hover {
      background-color: $item-hover-colour;

      .item-action-text, .item-action-icon {
        color: $icon-hover-colour;
      }
    }
  }
  .remove-item, .handle, .item-action-icon {
    color: $icon-colour;
    width: 12px;
  }
  .remove-item {
    display: none;
    position: absolute;
    left: -6px;
    top: -8px;
    cursor: pointer;
  }
  .handle, .item-action-icon {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
  }
  .handle {
    padding-right: 3px;
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
  }
}
.h1-entry,
.h2-entry,
.item-entry {
  @include input;
}
.item-entry {
  float: left;
}
.item-divider {
  background-color: transparent;
  height: 32px;
  border: none;

  &:hover {
    background-color: transparent;

    .handle {
      display: block;
    }
  }
  .item-content-container:before {
    content: '';
    display: block;
    border-top: 1px solid $item-border-colour;
  }
  .remove-item,
  .handle {
    top: 8px;
  }
  .remove-item {
    left: 16px;
  }
  .handle {
    display: none;
    position: absolute;
    right: 16px;
  }
}
.item-photo,
.item-map {
  max-width: 100%;
  text-align: center;
}
.editable {
  cursor: text;
}
.item-placeholder {
  background-color: $item-placeholder-colour;
  border-radius: 3px;
  border: 4px dashed $item-placeholder-border-colour;
  margin: -2px 0;
}
.buttons-table {
  @include card($item-colour, $item-border-colour);
  @include span-columns(6);
  display: table;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 4px;
  margin-bottom: 8px;

  .buttons-row {
    display: table-row;

    .buttons-cell {
      display: table-cell;
      height: 60px;

      &:hover {
        background-color: $item-hover-colour;
        cursor: pointer;

        &:before {
          color: $icon-hover-colour;
        }
      }
    }
  }
}
.add-item-datetime-local,
.add-item-divider,
.add-item-date,
.add-item-time,
.add-item-text,
.add-item-link,
.add-item-photo,
.add-item-map,
.card-accommodation,
.card-travel,
.card-event {
  vertical-align: middle;
  text-align: center;

  &:before {
    font-family: FontAwesome;
    font-size: 1.6em;
    color: $icon-colour;
  }
}
.add-item-datetime-local:before {
  content: '\f133';
}
.add-item-divider:before {
  content: '\f068';
}
.add-item-date:before {
  content: '\f073';
}
.add-item-time:before {
  content: '\f017';
}
.add-item-text:before {
  content: '\f044';
}
.add-item-link:before {
  content: '\f0c1';
}
.add-item-photo:before {
  content: '\f03e';
}
.add-item-map:before {
  content: '\f041';
}
.card-accommodation:before {
  content: '\f015';
}
.card-travel:before {
  content: '\f018';
}
.card-event:before {
  content: '\f145';
}
.item-card {
  &:hover {
    .item-text:before {
      color: $icon-hover-colour;
    }
  }
  .item-text:before {
    display: inline-block;
    font-family: FontAwesome;
    color: $icon-colour;
    margin-right: 8px;
  }
}
