.item {
  @include card($item-color, $item-border-color);
  cursor: default;
  margin: 8px 0;

  &:hover {
    background-color: $item-hover-color;

    .remove-item {
      display: block;
    }
  }
  .item-content-container,
  .item-action-container {
    display: table;
    border-spacing: 16px;
    width: 100%;
  }
  .item-action-container {
    cursor: pointer;
    &:hover {
      background-color: $item-hover-color;

      .item-action-text, .item-action-icon {
        color: black;
      }
    }
  }
  .item-content {
    display: table-cell;
    margin: 20px;
    margin-right: 40px;
  }
  .remove-item, .handle, .item-action-icon {
    color: $grey-7f;
  }
  .remove-item {
    display: none;
    position: absolute;
    left: -6px;
    top: -8px;
  }
  .handle, .item-action-icon {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
  }
  .handle {
    padding-right: 3px;
    cursor: move;
  }
}
.item-divider {
  background-color: transparent;
  height: 22px;
  margin: 9px 0;
  border: none;
}
.item-text {

}
.item-link {

}
.item-photo {

}
.editable {
  cursor: text;
}
.editable-text {

}
.editable-link {

}
.editable-photo {

}
.item-placeholder {
  background-color: $item-placeholder-color;
  border-radius: 3px;
  border: 4px dashed $item-placeholder-border-color;
  margin: -2px 0;
}
.element-buttons-table {
  @include card($item-color, $item-border-color);
  @include span-columns(6);
  display: table;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 4px;
  margin-bottom: 8px;

  .element-buttons-row {
    display: table-row;

    .element-buttons-cell {
      display: table-cell;
      height: 60px;

      &:hover {
        background-color: $item-hover-color;
        cursor: pointer;

        &:before {
          color: black;
        }
      }
    }
  }
}
.add-item-divider,
.add-item-date,
.add-item-text,
.add-item-link,
.add-item-photo,
.add-item-map {
  vertical-align: middle;
  text-align: center;

  &:before {
    font-family: FontAwesome;
    font-size: 1.6em;
    color: $grey-7f;
  }
}
.add-item-divider:before {
  content: '\f141';
}
.add-item-date:before {
  content: '\f017';
}
.add-item-text:before {
  content: '\f044';
}
.add-item-link:before {
  content: '\f0c1';
}
.add-item-photo:before {
  content: '\f03e';
}
.add-item-map:before {
  content: '\f041';
}
