.items-container {

  .item {
    position: relative;
    margin: 8px 0;
    background-color: $item-color;
    border: 1px solid $item-border-color;
    border-bottom: 2px solid $item-border-color;
    border-radius: 3px;

    cursor: default;

    &:hover {
      background-color: $item-hover-color;

      .remove-item {
        display: block;
      }
    }
    .item-content-container {
      display: table;
      width: 100%;
      border-spacing: 16px;
    }
    .item-content {
      display: table-cell;
      margin: 20px;
      margin-right: 40px;
    }
    .remove-item, .handle {
      color: $grey-7f;
    }
    .remove-item {
      display: none;
      position: absolute;
      top: -8px;
      left: -6px;
      cursor: pointer;
    }
    .handle {
      display: table-cell;
      vertical-align: middle;
      text-align: right;
      cursor: move;
    }
  }

  .item-divider {
    background-color: transparent;
    height: 22px;
    margin: 9px 0;
    border: none;
  }
  .item-text {

  }
  .item-link {

  }
  .item-photo {

  }
  .editable {
    cursor: text;
  }
  .editable-text {

  }
  .editable-link {

  }
  .editable-photo {

  }
}
.item-placeholder {
  background-color: $item-placeholder-color;
  border-radius: 3px;
  border: 4px dashed $item-placeholder-border-color;
  margin: -2px 0;
}
