body {
  background-color: $body-color;
}

.outer-container {
  @include outer-container;
  margin: 0 8px;
}

.layout-main {
  @include span-columns(6);
}

.home-buttons {
  .input-button {
    @include span-columns(6);
  }
}

.element-buttons {
  .input-button {
    @include span-columns(2);
  }
}

.itinerary-buttons {
  .input-button {
    @include span-columns(3);
  }
}
