@mixin card($background-colour, $border-colour) {
  background-color: $background-colour;
  border: 1px solid $border-colour;
  border-bottom: 2px solid $border-colour;
  border-radius: 3px;
  position: relative;
}
@mixin reset-input-type {
  border: none;
  background-color: transparent;
  width: 100%;
}
@mixin not-selectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}
@mixin icon-font-and-color {
  font-family: FontAwesome;
  color: $icon-colour;
}