a, a:visited {
  text-decoration: none;
  color: $font-colour;
}
.layout-main {
  word-wrap: break-word;
}
.home-title,
.item-title,
.item-action-text,
.item-entry,
.title-entry,
.item-link,
.item-datetime-local,
.item-date,
.item-time,
.item-map-text,
.navigation-text,
.page-not-found {
  font-family: $primary-font;
}
.item-text,
.item-description,
.description-entry {
  font-family: $secondary-font;
}
.home-title {
  margin: 64px 0;
  text-align: center;
  font-size: 1.6em;
  line-height: 1.6em;
  color: $home-title-colour;

  &:before {
    font-family: FontAwesome;
    font-size: 1.6em;
    content: '\f03a\a';
    white-space: pre;
    color: $home-icon-colour;
  }
}
.item-title,
.title-entry {
  font-size: 1.7em;
  line-height: 1.5em;
}
.item-text,
.item-description,
.description-entry {
  font-size: 1.0em;
  line-height: 1.2em;
}
.item-entry,
.item-action-text {
  font-size: 1.0em;
  color: $icon-colour;
}
.title-entry,
.description-entry,
.item-title,
.item-description {
  text-align: center;
  padding: 24px 8px;
}
.item-itinerary-title,
.item-card-title {
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid $item-border-colour;
  text-align: left;
}
.item-datetime-local,
.item-date,
.item-time {
  font-size: 1.1em;
  color: $icon-colour;
}
.item-datetime-time {
  margin-top: 12px;
  border-top: 1px solid $item-border-colour;
  padding-top: 12px;
}
.item-map-text {
  margin-top: 8px;
  text-transform: uppercase;
  text-align: left;
  font-size: 0.7em;
  color: $icon-colour;
}
.item-link a {
  color: $link-colour;
}
.item-link:hover a {
  color: $link-hover-colour;
}
.page-not-found {
  @include not-selectable;
  padding: 40px 0;
  font-size: 8em;
  text-align: center;
  color: $page-not-found-colour;
}
