@import url(http://fonts.googleapis.com/css?family=Raleway|Goudy+Bookletter+1911);

a, a:visited {
  text-decoration: none;
  color: $font-colour;
}
.layout-main {
  word-wrap: break-word;
}
.navigation-bar {
  text-align: center;
}
.home-h1 {
  margin: 64px 0;
  text-align: center;
  font-size: 1.6em;
  line-height: 1.6em;
  color: $home-title-colour;

  &:before {
    font-family: FontAwesome;
    font-size: 1.6em;
    content: '\f03a\a';
    white-space: pre;
    color: $home-icon-colour;
  }
}
.item-h1 {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid $item-border-colour;
}
.h1-entry,
.h2-entry,
.item-title,
.item-description {
  text-align: center;
  padding: 24px 8px;
}
.home-h1,
.item-h1,
.item-title,
.item-action-text,
.item-entry,
.h1-entry,
.item-link,
.item-datetime-local,
.item-date,
.item-time,
.item-map-text,
.navigation-text {
  font-family: 'Raleway', 'sans-serif';
}
.item-h1,
.item-title,
.h1-entry {
  font-size: 1.7em;
  line-height: 1.5em;
}
.item-text,
.item-description,
.h2-entry {
  font-family: 'Goudy Bookletter 1911', 'serif';
  font-size: 1.0em;
  line-height: 1.2em;
}
.item-action-text, .item-entry {
  font-size: 1.0em;
  color: $icon-colour;
}
.item-link {
  a {
    color: $link-colour;
  }

  &:hover {
    a {
      color: $link-hover-colour;
    }
  }
}
.item-datetime-local,
.item-date,
.item-time {
  font-size: 1.1em;
  color: $icon-colour;
}
.item-datetime-time {
  margin-top: 12px;
  border-top: 1px solid $item-border-colour;
  padding-top: 12px;
}
.item-map-text {
  margin-top: 8px;
  text-transform: uppercase;
  text-align: left;
  font-size: 0.7em;
  color: $icon-colour;
}
