@import url(http://fonts.googleapis.com/css?family=Raleway|Goudy+Bookletter+1911);

a, a:visited {
  text-decoration: none;
  color: $font-color;
}
.layout-main {
  word-wrap: break-word;
}
.home-link {

}
.item-h1 {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid $item-border-color;
}
.itinerary-h1,
.itinerary-h2 {
  text-align: center;
  margin: 48px 8px;
}
.item-h1,
.itinerary-h1,
.item-action-text,
.item-entry,
.item-link {
  font-family: 'Raleway', 'sans-serif';
}
.item-h1,
.itinerary-h1 {
  font-size: 1.7em;
  line-height: 1.5em;
}
.item-p,
.itinerary-h2 {
  font-family: 'Goudy Bookletter 1911', 'serif';
  font-size: 1.0em;
  line-height: 1.2em;
}
.item-action-text, .item-entry {
  font-size: 1.0em;
  color: $grey-7f;
}
.item-link {
  a {
    color: $link-colour;
  }

  &:hover {
    a {
      color: $link-hover-colour;
    }
  }
}

.editable-p {

}
.editable-a {

}
.editable-date {

}
