$grey-f7: #f7f7f7;
$grey-e9: #e9e9e9;
$grey-cc: #cccccc;
$grey-d9: #d9d9d9;
$grey-7f: #7f7f7f;

$body-color: $grey-e9;
$font-color: black;

$button-color: white;
$button-hover-color: white;

$item-color: white;
$item-border-color: $grey-d9;
$item-hover-color: $grey-f7;
$item-placeholder-color: $grey-e9;
$item-placeholder-border-color: $grey-cc;
