/*@import url(http://fonts.googleapis.com/css?family=Raleway|Goudy+Bookletter+1911);*/

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Regular.ttf');
}
@font-face {
  font-family: 'Goudy Bookletter 1911';
  src: url('fonts/GoudyBookletter1911.ttf');
}

$primary-font: 'Raleway', 'sans-serif';
$secondary-font: 'Goudy Bookletter 1911', 'serif';

$grey-f7: #f7f7f7;
$grey-e9: #e9e9e9;
$grey-cc: #cccccc;
$grey-d9: #d9d9d9;
$grey-7f: #7f7f7f;
$light-blue: #4dbce9;
$blue: #26ade4;

$body-colour: $grey-e9;
$font-colour: black;
$home-title-colour: $grey-7f;
$home-icon-colour: $grey-d9;
$page-not-found-colour: $grey-d9;

$icon-colour: $grey-7f;
$icon-hover-colour: black;

$button-colour: white;
$button-hover-colour: white;

$link-colour: $light-blue;
$link-hover-colour: $blue;

$item-colour: white;
$item-border-colour: $grey-d9;
$item-hover-colour: $grey-f7;
$item-placeholder-colour: $grey-e9;
$item-placeholder-border-colour: $grey-cc;
