<template name='home'>
  <div class='home'>
    <h1>Home</h1>

    <div class='items-container'>
      {{#each itineraries}}
        <a href='{{pathFor "itinerary"}}'>
          <div class='item' data-itinerary-id='{{_id}}'>
            <h1 class='item-h1'>{{title}}</h1>
            <p class='item-p'>{{description}}</p>
          </div>
        </a>
      {{/each}}
    </div>

    <div class='home-buttons'>
      <input id='newItinerary' class='input-button new-itinerary' type='button' value='New itinerary'/>
    </div>
  </div>
</template>
