<template name="addCard">
  <div>
    <div id="openCardsContainer" class="item">
      <div class="item-action-container">
        <span class="item-action-text">Add a card</span>
        <i class="fa fa-plus item-action-icon"></i>
      </div>
    </div>

    <div id="cardsContainer" class="buttons-table">
      <div class="buttons-row">
        <div data-action="addCard" class="buttons-cell card-accommodation" data-card-type="accommodation"></div>
        <div data-action="addCard" class="buttons-cell card-travel" data-card-type="travel"></div>
        <div data-action="addCard" class="buttons-cell card-event" data-card-type="event"></div>
      </div>
    </div>
  </div>
</template>
