<template name="addCard">
  <div>
    <div id="openCardsContainer" class="item">
      <div class="item-action-container">
        <span class="item-action-text">Add a card</span>
        <i class="fa fa-plus item-action-icon"></i>
      </div>
    </div>

    <div id="cardsContainer" class="buttons-table">
      <div class="buttons-row">
        <div data-action="addCard" class="buttons-cell tooltip" data-card-type="accommodation" data-tooltip="Accommodation" data-tooltip-position="top"></div>
        <div data-action="addCard" class="buttons-cell tooltip" data-card-type="travel" data-tooltip="Travel" data-tooltip-position="top"></div>
        <div data-action="addCard" class="buttons-cell tooltip" data-card-type="event" data-tooltip="Event" data-tooltip-position="top"></div>
      </div>
    </div>
  </div>
</template>
