<template name="accounts">
  {{#unless currentUser}}
    <div id="formOpeners" class="two-buttons">
      <div data-form-type="login" class="item">
        <div class="item-action-container">
          <span class="item-action-text">Sign in</span>
          <i class="fa fa-sign-in item-action-icon"></i>
        </div>
      </div>

      <div data-form-type="registration" class="item">
        <div class="item-action-container">
          <span class="item-action-text">Sign up</span>
          <i class="fa fa-user item-action-icon"></i>
        </div>
      </div>
    </div>

    <div id="form">
      {{> form}}
    </div>
  {{else}}
    {{> logout}}
  {{/unless}}
</template>

<template name="logout">
  <div id="logoutUser" class="item">
    <div class="item-action-container">
      <span class="item-action-text">Sign out</span>
      <i class="fa fa-sign-out item-action-icon"></i>
    </div>
  </div>
</template>
