<template name="form">
  {{#if errorMessage}}
    <div class="error-message">{{errorMessage}}</div>
  {{/if}}

  <form>
    <div class="item">
      <div class="item-content-container">
        <input type="text" id="username" placeholder="Username" class="item-entry" />
      </div>
    </div>

    <div class="item">
      <div class="item-content-container">
        <input type="password" id="password" placeholder="Password" class="item-entry" />
      </div>
    </div>

    {{{formSubmitButton}}}
  </form>

  <div class="text-divider">or</div>

  {{{toggleFormSubmitButton}}}
</template>
