<template name='itinerary'>
  <div class='itinerary'>
    {{> itineraryHeader}}
    {{> itineraryElements}}
    {{> itineraryButtons}}
  </div>
</template>

<template name='itineraryHeader'>
  <div class='itinerary-titles'>
    <h1 id='itineraryTitle' class='itinerary-h1' contentEditable=true>{{itinerary.title}}</h1>
    <h2 id='itineraryDescription' class='itinerary-h2' contentEditable=true>{{itinerary.description}}</h2>
  </div>
</template>

<template name='itineraryButtons'>
  <div id='openElementButtonContainer' class='item add-item-container'>
    <div class='item-content-container'>
      <i class='fa fa-plus add-element'></i>
    </div>
  </div>

  <div id='elementButtonContainer' class='element-buttons-table'>
    <div class='element-buttons-row'>
      <div data-action='addElement' class='element-buttons-cell add-item-divider' data-element-type='divider'></div>
      <div data-action='addElement' class='element-buttons-cell add-item-date' data-element-type='date'></div>
      <div data-action='addElement' class='element-buttons-cell add-item-text' data-element-type='text'></div>
    </div>

    <div class='element-buttons-row'>
      <div data-action='addElement' class='element-buttons-cell add-item-link' data-element-type='link'></div>
      <div data-action='addElement' class='element-buttons-cell add-item-photo' data-element-type='photo'></div>
      <div data-action='addElement' class='element-buttons-cell add-item-map' data-element-type='map'></div>
    </div>
  </div>

  <div class='itinerary-buttons'>
    <input id='clearItinerary' class='input-button' type='button' value='reset' />
    <input id='deleteItinerary' class='input-button' type='button' value='delete' />
  </div>
</template>
