<template name='itinerary'>
  <a href='{{pathFor "home"}}'>take me home</a><br>
  {{> itineraryHeader}}
</template>

<template name='itineraryHeader'>
  <h1 id='itineraryTitle' contentEditable=true>{{itinerary.title}}</h1>
  <h2 id='itineraryDescription' contentEditable=true>{{itinerary.description}}</h2>

  <br> {{> itineraryButtons}}
</template>

<template name='itineraryButtons'>
  <input id='clearItinerary' type='button' value='reset' />
  <input id='deleteItinerary' type='button' value='delete' />
</template>
