<template name='itinerary'>
  <div class='itinerary'>
    {{> itineraryElements}}
    {{> itineraryButtons}}
  </div>
</template>

<template name='itineraryButtons'>
  <div id='openElementButtonContainer' class='item'>
    <div class='item-action-container'>
      <span class='item-action-text'>Add an item</span>
      <i class='fa fa-plus item-action-icon'></i>
    </div>
  </div>

  <div id='elementButtonContainer' class='element-buttons-table'>
    <div class='element-buttons-row'>
      <div data-action='addElement' class='element-buttons-cell add-item-text' data-element-type='text'></div>
      <div data-action='addElement' class='element-buttons-cell add-item-date' data-element-type='date'></div>
      <div data-action='addElement' class='element-buttons-cell add-item-map' data-element-type='map'></div>
    </div>

    <div class='element-buttons-row'>
      <div data-action='addElement' class='element-buttons-cell add-item-link' data-element-type='link'></div>
      <div data-action='addElement' class='element-buttons-cell add-item-photo' data-element-type='photo'></div>
      <div data-action='addElement' class='element-buttons-cell add-item-divider' data-element-type='divider'></div>
    </div>
  </div>

  <div class='itinerary-buttons'>
    <div id='clearItinerary' class='item'>
      <div class='item-action-container'>
        <span class='item-action-text'>Reset</span>
        <i class='fa fa-refresh item-action-icon'></i>
      </div>
    </div>
    <div id='deleteItinerary' class='item'>
      <div class='item-action-container'>
        <span class='item-action-text'>Delete</span>
        <i class='fa fa-trash-o item-action-icon'></i>
      </div>
    </div>
  </div>
</template>
